<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-language" content="en-us">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
      content="An application to allow easy, accessible public commenting.">
    <title> 
      CivicLens | {% block title %} {% endblock title %}
    </title>
    <link rel="stylesheet" href="/static/css/base.css" type="text/css">
    <link rel="icon" type="image/icon" href="/static/assets/img/favicon.ico" />
  </head>
  <body style="background-color:#FDFFF7"></body>
</html>

<body>
<html>
  
  {% include 'includes/navigation.html' %}

  {% block content %}
  {% endblock content %}

  {% include 'includes/footer.html' %}


</body>
</html>
