{% extends "layouts/base.html" %}

{% block title %}
    About
{% endblock title %}

{% block content %}

<section class="slice py-7" style="background-color:#FDFFF7" id="core-block">
    <div class="row">
        <div class="container">
            <h4>
            About <a style="color:#B42F37">Civic</a>Lens.
            </h4>
            <div class="card">
                <div class="card-body m-3">
                    <h6 class="card-subtitle" style="color:#B43F37">
                        Why does a tool like CivicLens fill an existing gap? Why should it exist?
                    </h6>
                    <div class="card-text">
                        <p class="pb-0">
                            [text text text]
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body m-3">
                    <h6 class="card-subtitle" style="color:#B43F37">
                        How did we build CivicLens?
                    </h6>
                    <div class="card-text">
                        <p class="pb-0">
                            [text text text]
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body m-3">
                    <h6 class="card-subtitle" style="color:#B43F37">
                        What machine learning did we use? Why did we use machine learning?
                    </h6>
                    <div class="card-text">
                        <p class="pb-0">
                            [text text text]
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h4>
            About <a style="color:#B42F37">us</a>.
            </h4>
            <div class="row card-group p-3">
                <div class="card p-3" style="width: 18rem;">
                    <img class="card-img-top" src="/static/assets/img/headshots/claire.jpg" alt="Card image cap">
                    <div class="card-body pt-2">
                        <h5 class="card-title pb-0">Claire Boyd</h5>
                        <p class="card-subtitle pb-2">Claire is joining New York City Local Government in Fall 2024
                            as a City Research Scientist II for the DOF's Property Modeling team. She contributed
                            largely to the front end development of this project.</p>
                        <a href="https://github.com/claireboyd" class="btn btn-neutral btn-link p-2">
                            <img alt="Image placeholder" src="/static/assets/img/github.png" width="25">
                        </a>
                        <a href="https://www.linkedin.com/in/claire-boyd/" class="btn btn-neutral btn-link p-2">
                            <img alt="Image placeholder" src="/static/assets/img/linkedin.png" width="25">
                        </a>
                    </div>
                </div>
                <div class="card p-3 ml-3" style="width: 18rem;">
                    <img class="card-img-top" src="/static/assets/img/headshots/abe.png" alt="Card image cap">
                    <div class="card-body pt-2">
                        <h5 class="card-title pb-0">Abe Burton</h5>
                        <p class="card-subtitle pb-2">Abe is a data scientist with a background in
                            econometrics and computer science who spends his free time convincing people
                            that disc golf is a real sport.</p>
                        <a href="https://github.com/abejburton" class="btn btn-neutral btn-link p-2">
                            <img alt="Image placeholder" src="/static/assets/img/github.png" width="25">
                        </a>
                        <a href="https://www.linkedin.com/in/abe-burton/" class="btn btn-neutral btn-link p-2">
                            <img alt="Image placeholder" src="/static/assets/img/linkedin.png" width="25">
                        </a>
                    </div>
                </div>
                <div class="card p-3 ml-3" style="width: 18rem;">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body pt-2">
                        <h5 class="card-title pb-0">Person 3</h5>
                        <p class="card-subtitle pb-2">Bio</p>
                        <a href="" class="btn btn-neutral btn-link p-2">
                            <img alt="Image placeholder" src="/static/assets/img/github.png" width="25">
                        </a>
                        <a href="" class="btn btn-neutral btn-link p-2">
                            <img alt="Image placeholder" src="/static/assets/img/linkedin.png" width="25">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row card-group p-3">
                <div class="card p-3" style="width: 18rem;">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body pt-2">
                        <h5 class="card-title pb-0">Person 3</h5>
                        <p class="card-subtitle pb-2">Bio</p>
                        <a href="" class="btn btn-neutral btn-link p-2">
                            <img alt="Image placeholder" src="/static/assets/img/github.png" width="25">
                        </a>
                        <a href="" class="btn btn-neutral btn-link p-2">
                            <img alt="Image placeholder" src="/static/assets/img/linkedin.png" width="25">
                        </a>
                    </div>
                </div>
                <div class="card p-3 ml-3" style="width: 18rem;">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body pt-2">
                        <h5 class="card-title pb-0">Person 3</h5>
                        <p class="card-subtitle pb-2">Bio</p>
                        <a href="" class="btn btn-neutral btn-link p-2">
                            <img alt="Image placeholder" src="/static/assets/img/github.png" width="25">
                        </a>
                        <a href="" class="btn btn-neutral btn-link p-2">
                            <img alt="Image placeholder" src="/static/assets/img/linkedin.png" width="25">
                        </a>
                    </div>
                </div>
                <div class="card p-3 ml-3" style="width: 18rem;">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body pt-2">
                        <h5 class="card-title pb-0">Person 3</h5>
                        <p class="card-subtitle pb-2">Bio</p>
                        <a href="" class="btn btn-neutral btn-link p-2">
                            <img alt="Image placeholder" src="/static/assets/img/github.png" width="25">
                        </a>
                        <a href="" class="btn btn-neutral btn-link p-2">
                            <img alt="Image placeholder" src="/static/assets/img/linkedin.png" width="25">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <div class="card p-3" style="width: 33%;">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body pt-2">
                        <h5 class="card-title pb-0">Person 3</h5>
                        <p class="card-subtitle pb-2">Bio</p>
                        <a href="" class="btn btn-neutral btn-link p-2">
                            <img alt="Image placeholder" src="/static/assets/img/github.png" width="25">
                        </a>
                        <a href="" class="btn btn-neutral btn-link p-2">
                            <img alt="Image placeholder" src="/static/assets/img/linkedin.png" width="25">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}
