{% extends "layouts/base.html" %}

{% block title %}
    {{doc.title}}
{% endblock title %}


{% block content %}

<!-- whole page -->
<section class="slice py-3" style="background-color:#FDFFF7" id="core-block">
  <!-- title section -->
  <div class="container p-4 py-0" style="background-color: rgba(180, 47, 55, 0.15); border: 15px solid #FDFFF7;">
    <h5>{{comments.doc_plain_english_title}}</h5>
    <h6 class="font-italic font-weight-normal">Original title: {{doc.title}}</h6>
  </div>
    
  <!-- two sectioned part of the page -->
  <div class="container">
    <div class="input-group mb-3 order-md-1">
      <div class="col-md-3 p-2" >
        <!-- commenting details section -->
        <span class="h6 font-weight-bold" >Commenting Details</span>
        <p></p>

        <div class="card-sm" style="background-color: lightgrey;">
          <div class="card-body py-2 px-3">
            <p class="card-text">
              <a class="font-weight-bold">Comment by</a>
              <a class="font-weight-normal">doc.comment_deadline</a>
            </p>
          </div>
        </div>

        <div class="card-sm" style="background-color: lightgrey;">
          <div class="card-body py-2 px-3">
            <p class="card-text">
              <a class="font-weight-bold">Posted on</a>
              <a class="font-weight-normal">doc.comment_posted_date</a>
            </p>
          </div>
        </div>

        <div class="card-sm" style="background-color: lightgrey;">
          <div class="card-body py-2 px-3">
            <p class="card-text">
              <a class="font-weight-bold">Agnecy</a> 
              <a class="font-weight-normal">doc.agency</a>
            </p>
          </div>
        </div>

        <div class="card-sm" style="background-color: lightgrey;">
          <div class="card-body py-2 px-3">
            <p class="card-text">
              <a class="font-weight-bold">Comments received</a>
              <a class="font-weight-normal">doc.n_comments</a>
            </p>
          </div>
        </div>

        <div class="card-sm" style="background-color: lightgrey;">
          <div class="card-body py-2 px-3">
            <p class="card-text">
              <a class="font-weight-bold">Unique comments received</a>
              <a class="font-weight-normal">doc.n_unique_comments</a>
            </p>
          </div>
        </div>

        <p class="text-right text-muted small">
          <a class="font-italic">comments last updated:</a> doc.comments_last_updated
        </p>

        <!-- in the weeds section -->
        <span class="h6 font-weight-bold">In the weeds</span>
        
        <p></p>
        <div class="card-sm" style="background-color: lightgrey;">
          <div class="card-body py-2 px-3">
            <p class="card-text">
              <a class="font-weight-bold">Document ID</a>
              <a class="font-weight-normal">{{doc.id}}</a>
            </p>
          </div>
        </div>

        <div class="card-sm" style="background-color: lightgrey;">
          <div class="card-body py-2 px-3">
            <p class="card-text">
              <a class="font-weight-bold">Federal Register ID</a>
              <a class="font-weight-normal">doc.federal_register_id</a>
            </p>
          </div>
        </div>

        <div class="card-sm" style="background-color: lightgrey;">
          <div class="card-body py-2 px-3">
            <p class="card-text">
              <a class="font-weight-bold">Docket ID</a>
              <a class="font-weight-normal">doc.docket_id</a>
            </p>
          </div>
        </div>

        <p></p>
        <p class="small"> Want to get even more in the weeds? </p>
        <button class="btn btn-sm" style="background-color:#B42F37; color:#FDFFF7;">
          <a href="https://www.regulations.gov/document/{{doc.id}}" target="_blank" class="font-weight-normal text-white">
            Explore supplementary materials on regulations.gov
          </a>
        </button>
      </div>

      <!-- container for the document summary, NLP results -->
      <div class="col-md-8">
        <span class="h6">Summary</span>
        <p></p>
        <div class="card p-3">
          <div class="card-body">
            <p class="card-text">doc.original_summary...</p>
          </div>
        </div>
        <span class="h6">doc.n_topics topics emerged from doc.n_comments.</span>
        <p></p>
        <span class="p">[methods here...]</span>
        <span class="p">[methods here...]</span>
        <span class="p">[methods here...]</span>

        <div class="container p-1 h-25" style="background-color: #FDFFF7;" id="chart">
          <!-- hacky way to get comments.topics into the script -->
          <!-- this is where we might be able to do alt text -->
          <div id="topics" style="display: none;">
            {{comments.topics}}
          </div>
          <script>
            // set up
            const margin = { top: 10, right: 100, bottom: 20, left: 150 };

            const width = document.getElementById("chart").clientWidth - margin.left - margin.right;
            const height = document.getElementById("chart").clientHeight - margin.top - margin.bottom;

            const svg = d3.select('#chart')
                .append('svg')
                .attr('width', width + margin.left + margin.right)
                .attr('height', height + margin.top + margin.bottom)
                .append('g')
                .attr('transform', `translate(${margin.left},${margin.top})`);

            // Data
            const stringData = document.getElementById('topics').innerHTML;
            const validJSONString = stringData.replace(/'/g, '"');
            const data = JSON.parse(validJSONString);


            const sentiment_counts = Object.keys(data[0]).filter(d => ((d != "topic") & (d != "source")));
            const topics = data.map(d => d.topic);

            const stackedData = d3.stack().keys(sentiment_counts)(data);

            const xMax = d3.max(stackedData[stackedData.length - 1], d => d[1]);

            // Scales
            const x = d3.scaleLinear().domain([0, xMax]).nice().range([0, width]);
            const y = d3.scaleBand().domain(topics).range([0, height]).padding(0.3);
            const color = d3.scaleOrdinal().domain(sentiment_counts).range(["#EE6123", "#D9D9D9", "#00916E"]);

            // Axes
            const xAxis = d3.axisBottom(x).ticks(5, '~s').tickSizeOuter(0);
            const yAxis = d3.axisLeft(y);

            svg.append('g')
                .attr('transform', `translate(0,${height-height*0.08})`)
                .call(xAxis)
                .call(g => g.select('.domain').remove())
                .selectAll('text')
                .attr('font-size', 14);

            // Add x-axis label
            svg.append('text')
                .attr('x', width / 2)
                .attr('y', height + margin.top*1.5) // Adjust vertical position as needed
                .attr('text-anchor', 'middle')
                .text('Number of Comments') // this needs a bit of work
                .attr('font-size', 12);

            svg.append("g")
                .call(yAxis)
                .call(g => g.select('.domain').remove())
                .selectAll('text')
                .attr('font-weight', 700) // bold the topics
                .attr('font-size', 14);

            // Draw bars
            const layers = svg.append('g')
                .selectAll('g')
                .data(stackedData)
                .join('g')
                .attr('fill', d => color(d.key));

            layers.each(function(_, i) {
                d3.select(this)
                    .selectAll('rect')
                    .data(d => d)
                    .join('rect')
                    .attr('x', d => x(d[0]))
                    .attr('y', d => y(d.data.topic))
                    .attr('height', y.bandwidth())
                    .attr('width', d => x(d[1]) - x(d[0]))
                    .attr('font-size', 14);
            });

            // add legend
            const legendData = [
              {label: 'Negative', color: '#EE6123'},  // Orange
              {label: 'Neutral', color: '#D9D9D9'},   // Gray
              {label: 'Positive', color: '#00916E'}   // Green
            ];
            const legend = svg.append('g')
                .attr('class', 'legend')
                .attr('transform', `translate(${width*0.9},${height*0.1})`); // Adjust position as needed

            // add color blocks
            legend.selectAll('rect')
                .data(legendData)
                .enter()
                .append('rect')
                .attr('x', 0)
                .attr('y', (_, i) => i * 20)
                .attr('width', 10)
                .attr('height', 10)
                .attr('fill', d => d.color);

            // add labels for each color
            legend.selectAll('text')
                .data(legendData)
                .enter()
                .append('text')
                .attr('x', 20)
                .attr('y', (_, i) => i * 20 + 7)
                .text(d => d.label)
                .attr('font-size', 14)
                .attr('alignment-baseline', 'middle');

            // Add legend title
            legend.append('text')
                .attr('x', 0)
                .attr('y', -10)
                .text('Sentiment')
                .attr('font-size', 14)
                .attr('font-weight', 'bold');
          </script>
        </div>
        <p class="text-right text-muted small">
          <a class="font-italic">topics last updated:</a> doc.topics_last_updated
        </p>

        <hr>
        <p></p>
        <span class="h6">doc.n_rep_comments representing doc.n_comments total comments.</span>
        <p>The following comments capture the core themes of the comments received. 
          [potentially include some clarity on the methods used here].
        </p>

        <!-- cards for each representative comment -->
        <div class="card p-0">
          <div class="card-body">
            <p class="card-text p-2">comment.text...</p>
          </div>
          <div class="card-footer p-2">
            <p class="text-muted text-right mb-0">[need to find some way to put these on the same line]</p>
            <p class="card-text body font-weight-bold text-dark mb-0">Topic: comment.topic</p>
            <p class="card-text body  text-dark">comment.n_like_this comments like this</p>
            <p class="text-muted text-right mb-0">comment.TYPE_OF_COMMENTER</p>
            <p class="text-muted text-right mb-0">comment.commenter_name</p>
            <p class="text-muted text-right">commented on comment.date_received.</p>
            
          </div>
        </div>

        <div style="text-align: center;">
          <button class="btn btn-sm" style="background-color:#21315C; color:#FDFFF7;">
            <a href="https://www.regulations.gov/commenton/{{doc.id}}" target="_blank" class="font-weight-normal text-white">
              Add your own comment!
            </a>
          </button>
      
          <button class="btn btn-sm btn-outline-primary" style="background-color:white; color:#21315C;">
            <a href="https://www.regulations.gov/document/{{doc.id}}/comment" target="_blank" class="font-weight-normal">
              Browse all existing comments
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}


