{% extends "layouts/base.html" %}

{% block title %}
    {{doc.title}}
{% endblock title %}


{% block content %}

<!-- whole page -->
<section class="slice py-3" style="background-color:#FDFFF7" id="core-block">
  <!-- title section -->
  <div class="container p-4 py-0" style="background-color: rgba(180, 47, 55, 0.15); border: 15px solid #FDFFF7;">
    <h5>doc.ai_title</h5>
    <h6 class="font-italic font-weight-normal">Original title: {{doc.title}}</h6>
  </div>
    
  <!-- two sectioned part of the page -->
  <div class="container">
    <div class="input-group mb-3 order-md-1">
      <div class="col-md-3 p-2" >
        <!-- commenting details section -->
        <span class="h6 font-weight-bold" >Commenting Details</span>
        <p></p>

        <div class="card-sm" style="background-color: lightgrey;">
          <div class="card-body py-2 px-3">
            <p class="card-text">
              <a class="font-weight-bold">Comment by</a>
              <a class="font-weight-normal">doc.comment_deadline</a>
            </p>
          </div>
        </div>

        <div class="card-sm" style="background-color: lightgrey;">
          <div class="card-body py-2 px-3">
            <p class="card-text">
              <a class="font-weight-bold">Posted on</a>
              <a class="font-weight-normal">doc.comment_posted_date</a>
            </p>
          </div>
        </div>

        <div class="card-sm" style="background-color: lightgrey;">
          <div class="card-body py-2 px-3">
            <p class="card-text">
              <a class="font-weight-bold">Agnecy</a> 
              <a class="font-weight-normal">doc.agency</a>
            </p>
          </div>
        </div>

        <div class="card-sm" style="background-color: lightgrey;">
          <div class="card-body py-2 px-3">
            <p class="card-text">
              <a class="font-weight-bold">Comments received</a>
              <a class="font-weight-normal">doc.n_comments</a>
            </p>
          </div>
        </div>

        <div class="card-sm" style="background-color: lightgrey;">
          <div class="card-body py-2 px-3">
            <p class="card-text">
              <a class="font-weight-bold">Unique comments received</a>
              <a class="font-weight-normal">doc.n_unique_comments</a>
            </p>
          </div>
        </div>

        <p class="text-right text-muted small">
          <a class="font-italic">comments last updated:</a> doc.comments_last_updated
        </p>

        <!-- in the weeds section -->
        <span class="h6 font-weight-bold">In the weeds</span>
        
        <p></p>
        <div class="card-sm" style="background-color: lightgrey;">
          <div class="card-body py-2 px-3">
            <p class="card-text">
              <a class="font-weight-bold">Document ID</a>
              <a class="font-weight-normal">{{doc.id}}</a>
            </p>
          </div>
        </div>

        <div class="card-sm" style="background-color: lightgrey;">
          <div class="card-body py-2 px-3">
            <p class="card-text">
              <a class="font-weight-bold">Federal Register ID</a>
              <a class="font-weight-normal">doc.federal_register_id</a>
            </p>
          </div>
        </div>

        <div class="card-sm" style="background-color: lightgrey;">
          <div class="card-body py-2 px-3">
            <p class="card-text">
              <a class="font-weight-bold">Docket ID</a>
              <a class="font-weight-normal">doc.docket_id</a>
            </p>
          </div>
        </div>

        <p></p>
        <p class="small"> Want to get even more in the weeds? </p>
        <button class="btn btn-sm" style="background-color:#B42F37; color:#FDFFF7";>
          <a href="https://www.regulations.gov/document/{{doc.id}}" target="_blank" class="font-weight-normal text-white">
            Explore supplementary materials on regulations.gov
          </a>
        </button>
      </div>

      <!-- container for the document summary, NLP results -->
      <div class="col-md-8">
        <span class="h6">Summary</span>
        <p></p>
        <div class="card p-3">
          <div class="card-body">
            <p class="card-text">doc.original_summary...</p>
          </div>
        </div>
        <span class="h6">doc.n_topics topics emerged from doc.n_comments.</span>
        <p></p>
        <span class="p">[methods here...]</span>
        <span class="p">[methods here...]</span>
        <span class="p">[methods here...]</span>

        <div class="container p-10" style="background-color: red;">
          <p  style="text-align:center;">graph container</p>
        </div>
        <p class="text-right text-muted small">
          <a class="font-italic">topics last updated:</a> doc.topics_last_updated
        </p>

        <hr>
        <p></p>
        <span class="h6">doc.n_rep_comments representing doc.n_comments total comments.</span>
        <p>The following comments capture the core themes of the comments received. 
          [potentially include some clarity on the methods used here].
        </p>

        <!-- cards for each representative comment -->
        <div class="card p-0">
          <div class="card-body">
            <p class="card-text p-2">comment.text...</p>
          </div>
          <div class="card-footer p-2">
            <p class="text-muted text-right mb-0">[need to find some way to put these on the same line]</p>
            <p class="card-text body font-weight-bold text-dark mb-0">Topic: comment.topic</p>
            <p class="card-text body  text-dark">comment.n_like_this comments like this</p>
            <p class="text-muted text-right mb-0">comment.TYPE_OF_COMMENTER</p>
            <p class="text-muted text-right mb-0">comment.commenter_name</p>
            <p class="text-muted text-right">commented on comment.date_received.</p>
            
          </div>
        </div>

        <div style="text-align: center;">
          <button class="btn btn-sm" style="background-color:#21315C; color:#FDFFF7";>
            <a href="https://www.regulations.gov/commenton/{{doc.id}}" target="_blank" class="font-weight-normal text-white">
              Add your own comment!
            </a>
          </button>
      
          <button class="btn btn-sm btn-outline-primary" style="background-color:white; color:#21315C;">
            <a href="https://www.regulations.gov/document/{{doc.id}}/comment" target="_blank" class="font-weight-normal">
              Browse all existing comments
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}


