{% extends "layouts/base.html" %}

{% block title %}Home{% endblock title %}


{% block content %}

<!-- core header for navigation to two core pages -->
<section class="slice" style="background-color:#FDFFF7" id="core-block">
    <div class="container">
        <div class="row row-grid align-items-center">
            <div class="col-12 col-md-4 col-lg-3 order-md-2 text-center">
                <!-- Image -->
                <figure class="w-100">
                    <img alt="Image placeholder" src="/static/assets/img/logo_no_name.png"
                    class="img-fluid mw-md-120" width="300">
                </figure>
            </div>
            <div class="col-12 col-md-8 order-md-1 pr-md-5">
                <!-- Heading -->
                <h1 class="display-4 text-center text-md-left mb-3">
                    Putting the public
                    <br />
                    <strong class="text-primary">back in public commenting.</strong>
                </h1>
                <!-- Text -->
                <p class="lead text-center text-md-left">
                The public commenting process allows individuals and organizations
                an opportunity to give feedback on proposed
                regulations and policies before they are finalized, ensuring
                transparency and public involvement in policy making.
                <br>
                <br>
                Contributing to this process helps us shape effective and fair
                regulations, reflecting diverse perspectives in the nuances of
                our policies.
                <br>
                <br>
                Ready to share your thoughts on proposed regulations?
                </p>
                <!-- Buttons -->
                <div class="text-center text-md-left mt-5">
                    <a href="/#learn" class="btn btn-primary btn-icon">
                        <span class="btn-inner--text">Learn more about commenting</span>
                        <span class="btn-inner--icon"><i data-feather="chevron-right"></i></span>
                    </a>
                    <a href="/search" class="btn btn-neutral btn-icon d-none d-lg-inline-block">
                        Search for opportunities to comment
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice slice-lg" style="background-color:#B43F37" id="learn">
  <div class="container py-6">
        <div class="row">
            <h3 class="text-white">What is public commenting?</h3>
            <p class="lead my-4 text-white">
              Public commenting is a process that allows individuals and organizations to provide feedback on proposed government regulations
              before they are finalized.
              <br>
              <br>
              Here is how the process typically works:
            </p>
        </div>
        <div class="row">
            <div class="col-lg-5 mb-0 mt-0 mr-0 p-0 text-white">
                <span class="btn-primary btn-sm h6 strong text-left p-2">
                    Step 1: Rulemaking
                </span>
                <p>
                    Federal agencies draft proposed rules, rules, public notices or other
                    documents they want to formalize into policy.
                </p>
                <span class="btn-primary btn-sm h6 strong text-left p-2">
                    Step 2: Commenting
                </span>
                <p>
                    The Federal Register publishes the agency's draft for a “comment period”, typically
                    30 to 60 days, where individuals and organizations can provide feedback on the draft.
                </p>
                <span class="btn-primary btn-sm h6 strong text-left p-2">
                    Step 3: Consideration
                </span>
                <p>
                    When the “comment period” closes, the agencies review and consider
                    all feedback on the proposed regulation, responding to some comments
                    directly or posting responses to common comments in the Federal Register.
                </p>
                <span class="btn-primary btn-sm h6 strong text-left p-2">
                    Step 4: Finalization
                </span>
                <p>
                    The agency can integrate feedback into the final version of
                    the proposed rule, rule, public notice or other document.
                </p>
            </div>
            <div class="col-lg-7">
                <h6 class="text-white text-right">US Federal Commenting Process</h6>
                <img alt="diagram placeholder" src="/static/assets/img/whatiscommenting.png" class="img-fluid shadow rounded">
            </div>
        </div>
        <div class="m-0 py-0">
            <p class="row text-white py-0">
                For a more detailed explanation, read more about the rulemaking process at the
                <a
                href="https://www.federalregister.gov/uploads/2011/01/the_rulemaking_process.pdf">
                <strong> Federal Register.</strong>
                </a>
            </p>
        </div>
    </div>
</section>

<section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6" style="background-color:#FDFFF7">
    <div class="container">
        <!-- heading -->
        <div class="row">
            <div class="col-lg-10">
                <h3 class="mt-4">How do I contribute a comment?</h3>
                <div class="mt-2">
                    <p class="lead lh-180">
                    Individuals and organizations can submit comments on proposed regulations through the following methods:
                    </p>
                </div>
            </div>
        </div>
        <!-- cards for types of submission methods -->
        <div class="row">
            <div class="col-sm-3">
                <div class="card bg-primary p-3">
                    <div class="card-body">
                        <h5 class="card-title text-white">Online</h5>
                        <p class="card-text text-white">
                        Via the Regulations.gov website, where users can find proposed rules and submit comments directly.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card p-3">
                    <div class="card-body">
                        <h5 class="card-title">Mail</h5>
                        <p class="card-text">
                        Sending written comments to the address specified in the notice of proposed rulemaking.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card p-3">
                    <div class="card-body">
                        <h5 class="card-title">In Person</h5>
                        <p class="card-text">
                            Attending public hearings or meetings where oral comments can be made.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card p-3">
                    <div class="card-body">
                        <h5 class="card-title">Email</h5>
                        <p class="card-text">
                            Some agencies accept comments via a dedicated email address provided in the rulemaking notice.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- additional text -->
        <div class="mt-2">
            <p class="lead lh-180">
                However, <strong>online methods</strong> for submitting comments can be inaccessible due
                to the unfamiliar jargon of regulations and the sheer scope
                of potential topics to comment on. This makes it difficult for the
                average person to find interesting regulations that they feel qualified to comment on.
                <br>
                <br>
                This is where <strong>CivicLens</strong> comes in.
                <br>
                <br>
                <strong>CivicLens</strong> offers a simple, easy to use app where you can search by a topic you care about and easily find open opportunities to comment. When you select a regulation you are interested in, you can learn more about how others have already commented on the topic and get a sense of the main topics highlighted in the existing comments. This helps you quickly learn about a regulation and decide what perspective you would like to contribute.
                After learning about the regulation, you can click on the “Add your comment” button and get sent directly to the relevant page at regulations.gov to contribute your insights.


            </p>
        </div>
    </div>
  </section>


<section class="slice slice-lg" style="background-color:#B43F37" id="learn">
    <div class="container">
        <div class="py-6">
            <div class="row row-grid justify-content-between align-items-center">
                <div class="col-lg-6">
                    <h3 class="text-white">Why should I comment?</h3>
                    <p class="lead my-4 text-white">
                        Submitting a public comment holds federal agencies <strong>accountable</strong> by ensuring that decisions are informed by public input. When agencies review comments, they are required to consider the concerns and arguments presented, providing <strong>transparency</strong> in the decision-making process.
                        <br>
                        <br>
                        This helps prevent arbitrary or uninformed regulations and fosters <strong>trust</strong> between the government and the public. Ultimately, public comments help ensure that federal agencies are <strong>responsive</strong> to the needs and perspectives of the people they serve.
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="card ml-lg-5 m-2">
                        <div class="card-body p-2">
                            <h5 class="align-items-center">Influence Policy</h5>
                        </div>
                    </div>
                    <div class="card ml-lg-5 m-2">
                        <div class="card-body p-2">
                            <h5 class="align-items-center">Ensure Fairness</h5>
                        </div>
                    </div>
                    <div class="card ml-lg-5 m-2">
                        <div class="card-body p-2">
                            <h5 class="align-items-center">Protect Transparency</h5>
                        </div>
                    </div>
                    <div class="card ml-lg-5 m-2">
                        <div class="card-body p-2">
                            <h5 class="align-items-center">Protect Interests</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice slice-lg bg-section-dark pt-5 pt-lg-8">
  <!-- SVG separator -->
  <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
      <svg width="2560px" height="100px" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100; fill: #B43F37;" xml:space="preserve">
        <polygon points="2560 0 2560 100 0 100" ></polygon>
      </svg>
  </div>
  <!-- Container -->
  <div class="container position-relative zindex-100">
      <div class="col">
          <div class="row justify-content-center">
              <div class="col-md-10 text-center">
                  <div class="mt-4 mb-6">
                      <h2 class="h1 text-white">
                          Ready to get started?
                      </h2>
                      <h5 class="text-white mt-3">Explore current opportunities to comment on issues you care about.</h5>
                      <!-- search -->
                      <a href="/search" class="btn btn-primary btn-icon mt-4">Search</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6" style="background-color:#FDFFF7">
    <div class="container">
        <!-- heading -->
        <div class="row">
            <div class="col-lg-10">
                <h3 class="mt-4">Why does CivicLens exist?</h3>
                <div class="mt-2">
                    <p class="lead lh-180">
                    methods....methods...methods...
                    </p>
                </div>
            </div>
        </div>
    </div>
  </section>

{% endblock content %}
