{% extends "layouts/base.html" %}

{% block title %}Home{% endblock title %}


{% block content %}

<!-- core header for navigation to two core pages -->
<section class="slice" style="background-color:#FDFFF7" id="core-block">
    <div class="container">
        <div class="row row-grid align-items-center">
            <div class="col-12 col-md-4 col-lg-3 order-md-2 text-center">
                <!-- Image -->
                <figure class="w-100">
                    <img alt="Image placeholder" src="/static/assets/img/logo_no_name.png"
                    class="img-fluid mw-md-120" width="300">
                </figure>
            </div>
            <div class="col-12 col-md-8 order-md-1 pr-md-5">
                <!-- Heading -->
                <h1 class="display-4 text-center text-md-left mb-3">
                    Putting the public
                    <br />
                    <strong class="text-primary">back in public commenting.</strong>
                </h1>
                <!-- Text -->
                <p class="lead text-center text-md-left">
                The public commenting process allows individuals and organizations
                an opportunity to give feedback on proposed
                regulations and policies before they are finalized, ensuring
                transparency and public involvement in policy making.
                <br>
                <br>
                Contributing to this process helps us shape effective and fair
                regulations, reflecting diverse perspectives in the nuances of
                our policies.
                <br>
                <br>
                Ready to share your thoughts on proposed regulations?
                </p>
                <!-- Buttons -->
                <div class="text-center text-md-left mt-5">
                    <a href="{% url 'learn' %}" class="btn btn-primary btn-icon">
                        <span class="btn-inner--text">Learn more about commenting</span>
                        <span class="btn-inner--icon"><i data-feather="chevron-right"></i></span>
                    </a>
                    <a href="{% url 'search' %}" class="btn btn-neutral btn-icon d-none d-lg-inline-block">
                        Search for opportunities to comment
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice slice-lg pt-4 pb-4" style="background-color:#FDFFF7">
    <div class="container">
        <!-- heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="mt-4">Why does <span style="color:#B42F37">Civic</span>Lens exist?</h3>
                <div class="mt-2">
                    <p class="lead lh-180">
                        <span style="color:#B42F37">Civic</span>Lens is dedicated to enhancing public participation in commenting on federal regulations.
                        We collect data nightly from
                        <a class="link-underline-primary" href="http://regulations.gov">
                            regulations.gov
                        </a>
                        and build upon previous projects to provide
                        guides, improved search functionality, and meaningful analysis. Using advanced AI models,
                        we make document titles more readable, identify unique and representative comments, and
                        analyze comment topics and sentiment to provide a clearer understanding of public feedback.
                        <br><br>
                        Discover more about our mission and methods on our
                        <a class="link-underline-primary" href="{% url 'about' %}">
                            About page.
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
  </section>

{% endblock content %}
