{% extends "layouts/base.html" %}

{% block title %}
    Search
{% endblock title %}

{% block content %}


    <!-- search bar -->
    <section class="slice py-7" style="background-color:#FDFFF7" id="core-block">
      <div class="container shape-container">
        
        <h4>Give your feedback.</h4>

        <p>Search for opportunities to comment on...</p>
        <p></p>
        
        <div class="form-group">
          <form action="/regulations/search/results/" method="GET">
            {{ form.as_p }}
            <div class="input-group mb-4">
              <input class="form-control" id="q" name="q" type="text" required
              placeholder="Search for topics like 'gun control' or 'reproductive health'...">
              <button class="btn btn-primary">Search</button>
            </div>
          </form>
          
      </div>
      </div>
  </section>


    <!-- trending -->
    <section class="slice py-7" style="background-color:#FDFFF7" id="core-block">
      <div class="container">
        
        <p class="font-italic">Common Search Terms</p>

        <!-- potential refactor to not hard code these links and us a get request instead -->

        <button class="badge">
          <a href="/regulations/search/results?q=gun+control">gun control</a>
        </button>

        <button class="badge">
          <a href="/regulations/search/results?q=reproductive+health">reproductive health</a>
        </button>

        <button class="badge">
          <a href="/regulations/search/results?q=COVID-19">COVID-19</a>
        </button>

        <button class="badge">
          <a href="/regulations/search/results?q=universal+healthcare">universal healthcare</a>
        </button>

        <button class="badge">
          <a href="/regulations/search/results?q=climate+change">climate change</a>
        </button>

      </div>
      </div>
  </section>


{% endblock content %}