{% extends "layouts/base.html" %}

{% block title %}
    Search
{% endblock title %}

{% block content %}

<!-- search bar -->
<section class="slice py-7" style="background-color:#FDFFF7" id="core-block">
  <div class="container shape-container">
    <h4>
      Give your feedback.
    </h4>
    <p>
      Search for opportunities to comment on...
    </p>
    <p>
    </p>

    <div class="form-group">
      <form action="/search/results/" method="GET">
        {{ form.as_p }}
        <div class="input-group mb-4">
          <input class="form-control" id="q" name="q" type="text" required
          placeholder="Search for topics like 'gun control' or 'reproductive health'...">
          <button class="btn btn-secondary">Search</button>
        </div>
      </form>
    </div>
  </div>
</section>


<!-- trending -->
<section class="slice py-7" style="background-color:#FDFFF7" id="core-block">
  <div class="container">
      <h6>Common Search Terms</h6>

      <!-- potential refactor to not hard code these links and us a get request instead -->
      <a class="badge btn-secondary m-1" href="/search/results?q=gun+control">
        gun control
      </a>
      <a class="badge btn-secondary m-1" href="/search/results?q=reproductive+health">
        reproductive health
      </a>
      <a class="badge btn-secondary m-1" href="/search/results?q=COVID-19">
        COVID-19
      </a>
      <a class="badge btn-secondary m-1" href="/search/results?q=universal+healthcare">
        universal healthcare
      </a>
      <a class="badge btn-secondary m-1" href="/search/results?q=climate+change">
        climate change
      </a>
  </div>
  <div class="container">
    <p></p>
    <h6 class="pt-4">Things to keep in mind</h6>
    <div class="card">
      <div class="card-body m-3">
        <h6 class="card-subtitle" style="color:#B43F37">What is currently open for comment?</h6>
        <p class="card-text mb-0">
          As of {date}, there are:
          <ul>
            <li><strong>{total_docs_open}</strong> proposed rules, rules, or public notices <strong>open for comment</strong>.</li>
            <li><strong>{total_docs_with_comments}</strong> proposed rules, rules, or public notices <strong>with at least one comment</strong>.</li>
            <li><strong>{total_docs_with_no_comments}</strong> proposed rules, rules, or public notices <strong>with no existing comments</strong>.</li>
          </ul>
        </p>
        <p class="card-text mb-0">
          Of the proposed rules, rules, or public notices that have comments, there are:
          <ul>
            <li><strong>{avg_comments}</strong>average total comments per document.</li>
            <li><strong>{avg_unique_comments}</strong>average unique comments per document
              <br>
              <i>This figure collapses "form letters" that are submitted by multiple
              commenters with the exact same langauge.</i>
            </li>
          </ul>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body m-3">
        <h6 class="card-subtitle" style="color:#B43F37">Which  are have the most comments?</h6>
        <p class="card-text">
          The following proposed rules, rules, or notices are the currently most commented on of all current opportunities for public comment.
          <ul>
            {% for document in {{top_commented_documents}} %}
            <li>
              <a class="btn-link" href="{% url 'document' doc_id={{document.document_id}}%}">{{document.doc_plain_english_title}}</a>
            </li>
            {% endfor %}
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>


{% endblock content %}
