{% extends "layouts/base.html" %}

{% block title %}
    Search
{% endblock title %}

{% block content %}

<!-- search bar -->
<section class="slice py-5" style="background-color:#FDFFF7" id="core-block">
  <div class="container shape-container mb-4">
    <h2>
      Give your feedback.
    </h2>
    <p>
      Search for opportunities to comment on an issue you care about.
    </p>
    <p>
    </p>

    <div class="form-group">
      <form action="/search/results/" method="GET">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="input-group mb-4">
          <input class="form-control" id="q" name="q" type="text" required
          placeholder="Search for topics like 'healthcare' or 'immigration'...">
          <button class="btn btn-secondary">Search</button>
        </div>
      </form>
    </div>
  </div>
</section>


<!-- trending -->
<section class="slice mt-5 py-7" style="background-color:#FDFFF7" id="core-block">
  <div class="container">
      <h6>Common Search Terms</h6>

      <!-- potential refactor to not hard code these links and us a get request instead -->
      <a class="badge btn-secondary m-1" href="/search/results?q=transportation">
        transportation
      </a>
      <a class="badge btn-secondary m-1" href="/search/results?q=healthcare">
        healthcare
      </a>
      <a class="badge btn-secondary m-1" href="/search/results?q=marijuana">
        marijuana
      </a>
      <a class="badge btn-secondary m-1" href="/search/results?q=immigration">
        immigration
      </a>
      <a class="badge btn-secondary m-1" href="/search/results?q=equality">
        equality
      </a>
  </div>
  <div class="container">
    <p></p>
    <h6 class="pt-5">Quick Facts</h6>
    <div class="card mb-3">
      <div class="card-body m-3">
        <h6 class="card-subtitle" style="color:#B43F37">What is currently open for comment?</h6>
        <p class="card-text mb-0">
          As of {{doc_cmt_facts.last_updated}}, there are:
          <ul>
            <li><strong>{{doc_cmt_facts.active_documents_count}}</strong> proposed rules, rules, public notices, or other documents <strong>open for comment</strong>.</li>
            <li><strong>{{doc_cmt_facts.active_documents_with_comments}}</strong> proposed rules, rules, public notices, or other documents <strong>with at least one comment</strong>.</li>
            <li><strong>{{doc_cmt_facts.active_documents_with_no_comments}}</strong> proposed rules, rules, public notices, or other documents <strong>with no existing comments</strong>.</li>
          </ul>
        </p>
        <p class="card-text mb-0">
          Of the proposed rules, rules, public notices, or other documents that have comments, there are <strong>on average</strong>:
          <ul>
            <li><strong>{{doc_cmt_facts.avg_comments}}</strong> total comments per document.</li>
          </ul>
        </p>
      </div>
    </div>
    <div class="card mb-0">
      <div class="card-body m-3">
        <h6 class="card-subtitle" style="color:#B43F37">Which documents currently open for comment in the federal register have the most comments?</h6>
        <div class="card-text">
          {% if doc_cmt_facts.top_commented_documents %}
            <p class="pb-0">
              The following proposed rules, rules, or notices are the currently most commented on of all current opportunities for public comment.
            </p>
            <ul>
              {% for document in doc_cmt_facts.top_commented_documents %}
              <li>
                <a class="btn-link" href="{% url 'document' document.document_id %}">
                  {% if document.doc_plain_english_title and document.doc_plain_english_title != "Regulation: No regulation" %}
                    <strong>{{document.doc_plain_english_title}}</strong>
                  {% else %}
                    <strong>{{document.document__title}}</strong>
                  {% endif %}
                   ({{document.num_total_comments}} total comments, {{document.num_unique_comments}} unique comments)
                </a>
              </li>
              {% endfor %}
            </ul>
            {% else %}
            <p class="pb-0">
              There are currently no proposed rules, rules, or notices open for public comment.
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}
